:root {
  --primary: #8467f3;
  --warning: yellow;
  --danger: red;
  --success: green;
  --dark: black;
  --white: white;
}

.btn {
  font-family: HM;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Button Style */

.btn--standard {
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
}
.btn--primary--cart {
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid var(--danger);
  color: var(--danger);
}
.btn--primary--cart:hover {
  background-color: var(--danger);
  border-radius: 50px;
  border: 2px solid var(--danger);
  color: var(--white);
}
.btn--standard:hover {
  background-color: var(--dark);
  color: var(--white);
  border: 2px solid var(--dark);
}
.btn--mobile--primary {
  border-radius: 5px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: var(--white);
  border: none;
}
.btn--mobile--primary:hover {
  background-color: #6d54d3;
  border: 2px solid var(--primary);
  color: var(--white);
}
.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
  border-radius: 15px;
}
.btn--primary--solid:hover {
  background-color: #6d54d3;
  border: 2px solid var(--primary);
  color: var(--white);
}
.btn--warning--solid {
  background-color: var(--warning);
  color: var(--white);
  border: none;
}
.btn--warning--solid:hover {
  background-color: transparent;
  border: 2px solid var(--warning);
  color: var(--warning);
}
.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: none;
}
.btn--danger--solid:hover {
  background-color: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
}
.btn--success--solid {
  background-color: var(--success);
  color: var(--white);
  border: none;
}
.btn--success--solid:hover {
  background-color: transparent;
  border: 2px solid var(--success);
  color: var(--success);
}
.btn--primary--outline {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 15px;
}
.btn--primary--outline:hover {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
}
.btn--warning--outline {
  background-color: transparent;
  border: 2px solid var(--warning);
  color: var(--warning);
}
.btn--warning--outline:hover {
  background-color: var(--warning);
  color: var(--white);
  border: 2px solid var(--warning);
}
.btn--danger--outline {
  background-color: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
}
.btn--danger--outline:hover {
  background-color: var(--danger);
  color: var(--white);
  border: 2px solid var(--danger);
}
.btn--success--outline {
  background-color: transparent;
  border: 2px solid var(--success);
  color: var(--success);
}
.btn--success--outline:hover {
  background-color: var(--success);
  color: var(--white);
  border: 2px solid var(--success);
}

/* Button Size */
.btn--medium {
  padding: 10px 10px;
  font-size: 15px;
}
.btn--large {
  padding: 10px 22px;
  font-size: 20px;
}
.btn--small {
  padding: 5px 15px;
  font-size: 15px;
  width: 150px;
}
.btn--mobile {
  padding: 5px 10px;
  font-size: 13px;
}
.btn--cart {
  height: 4em;
  width: 4em;
}
